:root {
    --bg-color: #fff;
    --bg-color-second: #e9e8e8;
    --font-color: #fff;
    --accent-color: #f60406;
    --accent-color-second: #ca2b03;
    --main-menu-color: #fff;
    --header-section-color: #555;
}